doctype html
html(lang = "en") 
head
    title Number Quiz Application
    link(rel='stylesheet', href='styles/quiz.css')
body
div(class="container", id="quiz")
    fieldset
        legend NumberQuiz
        form(method="POST", action="/")
            h1(class="movie-title") The Number Quiz
            div(class="form-body")
                input(type="hidden", value=step, name="step")
                input(type="hidden", value=score, name="score")
           
            p(class="score") Your current score is #{score}
            p(class ="score") You have completed the number quiz with a score of #{score} out of #{step}
